# Build & Binaires
build/
*.exe
*.dll
*.o
*.a
*.lib

# IDE & OS
.vscode/
.idea/
*.suo
*.user
Thumbs.db
.DS_Store

# CMake cache (optionnel mais recommandé)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake